mat-toolbar {
  height: auto;
  padding: 0.4rem 0;
}

.page-logo {
  color: var(--mat-sys-primary);
  font-style: italic;
  font-size: 2rem;
  margin: 0 1rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 0.5rem;
}

mat-sidenav-container {
  min-height: 100%;
}

@media (max-width: 768px) {
  mat-toolbar custom-link {
    display: none;
  }

  mat-sidenav {
    width: 75%;
  }
  .links {
    display: flex;
    flex-direction: column;
  }

  custom-link {
    width: 100%;
  }
}

@media (min-width: 768px) {
  mat-toolbar .burger {
    display: none;
  }
}
