<nav>
  <mat-toolbar>
    <span class="page-logo">J.</span>
    <custom-link to="/home" class="d-block ml-auto">Home</custom-link>
    <custom-link to="/profile" class="ml-1">Profile</custom-link>
    <custom-link to="/pages" class="ml-1">Pages</custom-link>
    <custom-link to="/components" class="ml-1">Components</custom-link>
    <button
      matButton
      (click)="toggleOpen()"
      class="ml-auto burger"
      aria-label="menu"
      role="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
</nav>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <div class="links">
      <custom-link to="/home">Home</custom-link>
      <custom-link to="/profile">Profile</custom-link>
      <custom-link to="/pages">Pages</custom-link>
      <custom-link to="/components">Components</custom-link>
    </div>
  </mat-sidenav>
  <ng-content></ng-content>
</mat-sidenav-container>
