mat-toolbar {
  height: auto;
  padding: 0.4rem 0;
}

.ml-auto {
  margin-left: auto;
}

mat-sidenav-container {
  //min-height: 100%;
}

@media (max-width: 768px) {
  mat-toolbar custom-link {
    display: none;
  }

  mat-sidenav {
    width: 75%;
  }
  .links {
    display: flex;
    flex-direction: column;
  }

  custom-link {
    width: 100%;
  }
}

@media (min-width: 768px) {
  mat-toolbar .burger {
    display: none;
  }
}
