<nav>
  <mat-toolbar color="primary">
    <a mat-button>Home</a>
    <a mat-button routerLink="/pages">Pages</a>
    <a mat-button routerLink="/custom-components">Components</a>
    <a mat-button routerLink="/about">About</a>
    <button mat-button class="ml-auto">
      <mat-icon aria-label="search">search </mat-icon>
    </button>
    <button mat-button (click)="toggleOpen()" class="burger">
      <mat-icon aria-label="menu">menu </mat-icon>
    </button>
  </mat-toolbar>
</nav>
<mat-sidenav-container>
  <mat-sidenav mode="push" #sidenav mode="'side'" [(opened)]="opened">
    <div class="links">
      <a mat-button>Home</a>
      <a mat-button routerLink="/pages">Pages</a>
      <a mat-button routerLink="/custom-components">Components</a>
      <a mat-button routerLink="/about">About</a>
    </div>
  </mat-sidenav>
  <div class="main-content">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
