<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="imageSrc" [alt]="title" />
  <mat-card-content>
    <p>
      {{ description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a matButton="filled" color="primary" [href]="url">Demo</a>
    <a [href]="github" class="github-button">
      <mat-icon
        aria-hidden="false"
        aria-label="Github logo"
        svgIcon="github"
      ></mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
