@import "../../../themes/_variables.scss";

$img-height: 12rem;
$max-card-width: 20rem;

:host {
  width: 100%;
  //height: $card-heigth;
  //min-height: $card-heigth;
}

img {
  height: $img-height;
  max-height: $img-height;
}

button {
  background-color: $secondary;
}

@media (min-width: 576px) {
  :host {
    width: $max-card-width;
  }
}