@import "../../../themes/_variables.scss";

$img-height: 12rem;
$max-card-width: 20rem;

:host {
  width: 100%;
}

img {
  height: $img-height;
  max-height: $img-height;
}

button {
  background-color: $primary;
}

.github-button {
  color: white;
  display: flex;
}

:host {
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: var(--delay, 0);
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}

mat-card-content {
  margin-bottom: 0.5rem;

  p {
    height: 2lh;
  }
}

@media (min-width: 576px) {
  :host {
    width: $max-card-width;
  }
}
