<section>
  <h1>Skills</h1>
  <p>Description of the skills.</p>
  <div class="skills-details-container">
    <a mat-button routerLink="/profile" class="back-button">
      <mat-icon>keyboard_arrow_left</mat-icon> Go back
    </a>
    <mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <!-- Skill Column -->
      <ng-container matColumnDef="skill">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by skill"
        >
          Skill
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.skill }} </mat-cell>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"
          ><p [innerHTML]="element.description"></p
        ></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <a mat-button routerLink="/profile" class="back-button">
      <mat-icon>keyboard_arrow_left</mat-icon> Go back
    </a>
  </div>
</section>
