section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  > * {
    margin: 0 0.5rem;
  }

  app-profile {
    width: 100%;
  }

  aside {
    width: 100%;
    display: flex;
    flex-direction: column;

    > * {
      margin: 0 0 1rem 0;
    }
  }
}

@media (min-width: 576px) {
  section {
    flex-direction: row;

    app-profile {
      width: 50%;
    }

    aside {
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  section {
    width: 90%;

    app-profile {
      width: 33.34%;
    }

    aside {
      width: 66.66%;
    }
  }
}

@media (min-width: 1200px) {
  section {
    width: 80%;
  }
}
