<div class="page-content">
  <svg
    class="egg"
    width="600"
    height="600"
    viewBox="0 0 600 600"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g transform="translate(300,300)">
      <path
        d="M164.1,-105.3C196.6,-38.5,195.7,37,162.8,84.2C129.9,131.3,65,150.2,-3.8,152.3C-72.5,154.5,-144.9,140,-178.1,92.7C-211.3,45.3,-205.2,-34.8,-169,-103.7C-132.8,-172.7,-66.4,-230.3,-0.3,-230.2C65.8,-230,131.6,-172,164.1,-105.3Z"
      />
    </g>
  </svg>
  <div class="landing-description">
    <div class="description-wrapper">
      <h1 class="text-center">Hello, I'm Blabla</h1>
      <p class="text-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti natus
        unde rerum nulla repellendus! Harum iste corrupti repellat. Fuga tenetur
        porro eum reprehenderit rerum magni iste cum officiis ipsam?
        Necessitatibus!
      </p>
      <a mat-flat-button routerLink="/about">See profile</a>
    </div>
  </div>
</div>
