$image-heigth: 352px;
$image-width: 350px;
$image-offset: 25px;

.description-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.egg {
  width: 100%;
}

.egg-container {
  height: $image-heigth;
  position: relative;
  display: flex;
  align-items: center;
}

.foreground {
  width: 100%;
  height: 352px;
  background: url("../../../assets/prog1.png")  center center no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 100;
}

a {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .egg-container {
    display: flex;
    height: unset;
  }

  .page-content {
    display: flex;
    align-items: center;
  }

  .egg-container,
  .landing-description {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .egg-container {
    margin-left: auto;
  }
  .landing-description {
    width: 30%;
    margin-right: auto;
  }
}
