.description-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.egg {
  display: none;
}

a {
  margin: 0 auto;
}

@media (min-width: 576px) {
  .egg {
    display: block;
  }

  .page-content {
    display: flex;
    align-items: center;
  }

  .egg,
  .landing-description {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .egg {
    margin-left: auto;
  }
  .landing-description {
    width: 30%;
    margin-right: auto;
  }
}
