.landing-description {
  flex-grow: 1;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

a {
  margin: 0 auto;
}

.page-content {
  display: flex;
  align-items: center;
}
