<div class="page-content">
  <div class="egg-container">
    <div class="foreground"></div>
    <svg
      class="egg"
      width="600"
      height="600"
      viewBox="0 0 600 600"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g transform="translate(300,300)">
        <path
          d="M164.1,-105.3C196.6,-38.5,195.7,37,162.8,84.2C129.9,131.3,65,150.2,-3.8,152.3C-72.5,154.5,-144.9,140,-178.1,92.7C-211.3,45.3,-205.2,-34.8,-169,-103.7C-132.8,-172.7,-66.4,-230.3,-0.3,-230.2C65.8,-230,131.6,-172,164.1,-105.3Z"
        />
      </g>
    </svg>
  </div>
  <div class="landing-description">
    <div class="description-wrapper">
      <h1 class="text-center">
        <span class="typewriter">
          {{ writtenPresentation }}
          <span class="double-text">{{ writtenName }}</span>
        </span>
      </h1>
      <p class="text-center">
        I'm a web developer focused in front-end side.<br />
        In this web you can find some of my personal works (<strong
          >Pages</strong
        >
        and <strong>Components</strong> sections), mainly with Angular and React
        but I always try to be up to date with different front-end technologies.
        In the last months I started getting involved in back-end development to
        have a broader view.<br /><br />

        You can check my complete profile clicking on the button below
      </p>
      <a mat-flat-button routerLink="/profile">See profile</a>
    </div>
  </div>
</div>
