@import "../../../../themes/variables";

mat-card {
  padding: 0;
}

mat-card-content {
  padding: 0 1rem 1rem 1rem;

  button:nth-last-child(1) {
    width: 100%;
    margin-top: 1rem;
  }
}

h2 {
  font-size: 2rem;
}

:host {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.double-text {
  color: $primary;
  text-shadow: 1px -1px 0px white;
}

.img-container {
  padding: 3rem 3rem 0 3rem;
  background: $dark;
  background: linear-gradient(180deg, $primary 50%, transparent 50%);
  img {
    width: 100%;
    border-radius: 50%;
  }
}
