<section>
  <mat-card>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.aavaaaa
      </p>
      <personal-data></personal-data>
      <mat-divider></mat-divider>
      <skill-group class="d-block pt-h3"></skill-group>
      <language-group class="d-block mt-h3"></language-group>
      <button mat-flat-button routerLink="/skills-details" color="primary" class="pt-h3">See all</button>
    </mat-card-content>
  </mat-card>
</section>
