@import "../../../themes/_variables.scss";

:host {
  display: block;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.egg {
  fill: $egg;
}

.wave {
  fill: var(--mat-sys-on-primary);
}

.page-background {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

.wave-backgroud__rectangle {
  height: 55vh;
  background-color: var(--mat-sys-on-primary);
  background: linear-gradient(0deg, var(--mat-sys-on-primary), $second-gradient);
}
