// Import material theming functions
@use '@angular/material' as mat;

// Create your Sass color vars (will be available in all the project)
$primary: #c2185b;
$dark: #212121;


$egg: #212121;
$second-gradient: #212121;
