<section>
  <mat-card>
    <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        work_outline
      </mat-icon>
      <mat-card-title>Work experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-details>
        <h3>Web applications developer</h3>
        <time datetime="2018-07">July 2018 - Current</time>
        <p>
          Web applications developer, mainly front-end side using different
          technologies like HTML, CSS, Angular, Next.js (React + Typescript),
          ...<br /><br />
          The projects in which I was involved helped me to gain experience in
          the process of software building, agile methodologies, comunication
          (coworkers, clients and managers) and time management to meet the
          deadlines.<br />
        </p>
      </app-details>
      <mat-divider></mat-divider>
      <app-details>
        <h3>Internship</h3>
        <time datetime="2018-07">January 2018 - July 2018</time>
        <p>
          Oracle SQL databases operations and resolution of incidents.
        </p>
      </app-details>
    </mat-card-content>
  </mat-card>
</section>
