<section>
  <mat-card>
    <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Work icon">
        work_outline
      </mat-icon>
      <mat-card-title>Work experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-time-line-separator position="start">
        Feb. 2023
      </app-time-line-separator>
      <app-details>
        <h3>Developer at Telescope</h3>
        <p>
          Web applications developer, mainly front-end with React but also
          started leaning to back-end.<br /><br />
          I was involved in the development of real-time applications, in which
          response times were a key factor so they users could participate in
          live events through voting systems and live-content-related games.
          <br /><br />
          In my stay in this company, I was also assigned to back-end task using
          technologies such as Auth0, Amazon Web Services and express.js.
          <br />
        </p>
      </app-details>
      <app-time-line-separator>
        <span class="missing-time">
          Sep. 2021
          <mat-icon color="primary">keyboard_arrow_right</mat-icon>
          Nov. 2021
        </span>
      </app-time-line-separator>
      <app-details>
        <h3>Web developer at Trilema Foundation</h3>
        <p>
          Web and mobile applications developer. Front-end development with
          HTML, CSS, Angular and Ionic framework.<br /><br />
          The projects involved the creation of applications in Education and
          Health contexts, in which responsiveness was a core requirement so
          students and patients could access to the services with smartphones,
          tablets or computers.
          <br />
        </p>
      </app-details>
      <app-time-line-separator>Feb. 2021</app-time-line-separator>
      <app-details>
        <h3>Web developer at Capgemini Spain</h3>
        <p>
          Web applications developer, mainly front-end side using different
          technologies like HTML, CSS, Angular, Next.js (React + Typescript),
          ...<br /><br />
          The projects in which I was involved helped me to gain experience in
          the process of software building, agile methodologies, comunication
          (coworkers, clients and managers) and time management to meet the
          deadlines.<br />
        </p>
      </app-details>
      <app-time-line-separator>July 2018</app-time-line-separator>
      <app-details>
        <h3>Internship at Capgemini Spain</h3>
        <p>
          Oracle SQL databases operations, data extraction for analysis and
          resolution of incidents.
        </p>
      </app-details>
      <app-time-line-separator position="end"
        >Jan. 2018</app-time-line-separator
      >
    </mat-card-content>
  </mat-card>
</section>
