.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .bar {
    height: 8px;
    border-left: solid 2px var(--mat-sys-primary);
    border-right: solid 2px var(--mat-sys-primary);
  }

  [matButton] {
    border: dashed 2px var(--mat-sys-primary);
    pointer-events: none;
  }
}
