.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .bar {
    height: 8px;
    border-left: solid 2px #c2185b;
    border-right: solid 2px #c2185b;
  }

  [matButton] {
    border: dashed 2px #c2185b;
    pointer-events: none;
  }
}
