/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-0,
.my-0 {
  margin-top: 0;
}

.mb-0,
.my-0 {
  margin-bottom: 0;
}

.mat-progress-bar-buffer {
  background-color: white;
}

.icon-description {
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 1rem;
  }
}

$my-h3: 0.625rem;

.mt-h3,
.my-h3 {
  margin-top: $my-h3;
}

.mb-h3,
.my-h3 {
  margin-bottom: $my-h3;
}

.pt-h3,
.py-h3 {
  padding-top: $my-h3;
}

.pb-h3,
.py-h3 {
  padding-bottom: $my-h3;
}

.d-block {
  display: block;
}

.text-center {
  text-align: center;
}

app-curriculum,
app-custom-components,
app-webs {
  display: block;
  padding: 1rem 2rem;
}
