
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  --mat-sys-surface: #212121;
  --mat-sys-background: #303030;
  --mat-card-elevated-container-color: #424242;
}

html,
body {
  height: 100%;
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-0,
.my-0 {
  margin-top: 0;
}

.mb-0,
.my-0 {
  margin-bottom: 0;
}

.mat-progress-bar-buffer {
  background-color: white;
}

mat-progress-bar.mat-progress-bar .mat-progress-bar-fill {
  transition: transform 1.5s ease;
}

.icon-description {
  display: flex;
  align-items: center;

  h3 {
    font-weight: 500;
  }

  mat-icon {
    margin-right: 1rem;
  }
}

$my-h3: 0.625rem;

.mt-h3,
.my-h3 {
  margin-top: $my-h3;
}

.mb-h3,
.my-h3 {
  margin-bottom: $my-h3;
}

.pt-h3,
.py-h3 {
  padding-top: $my-h3;
}

.pb-h3,
.py-h3 {
  padding-bottom: $my-h3;
}

.d-block {
  display: block;
}

strong {
  font-weight: 500;
}

.font-500 {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

app-curriculum,
app-custom-components,
app-webs,
landing-page,
skills-details {
  display: block;
  padding: 1rem 2rem;
}


mat-card-content {
  font-size: 14px;
}

mat-card-title {
  --mat-card-title-text-size: 20px;
}

body .mat-mdc-card-title, .mat-mdc-card-subtitle {
  margin: 0 16px 12px 16px;
}