<section>
  <mat-card>
    <mat-card-header>
      <mat-icon aria-hidden="false" aria-label="Example home icon">
        school
      </mat-icon>
      <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-details>
        <h3>University</h3>
        <time datetime="2014-08">September 2014 - 2018</time>
        <p>
          Computing engineering studies at "Universitat Politécnica de Valencia".
        </p>
      </app-details>
    </mat-card-content>
  </mat-card>
</section>
