mat-card-header {
  display: flex;

  mat-icon {
    order: -1;
  }
}

h3 {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 0;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}
